.line-container {
    display: flex;
    align-items: center;
    text-align: center;
    height: 30px;
}
.line-container::before,
.line-container::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000000; /* Blue primary line */
}
.line-container::before {
    margin-right: 15px;
}
.line-container::after {
    margin-left: 15px;
}